<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My app</title>
    <script defer src="/main.js"></script>
</head>

<body>
    <div>{{logo}}!</div>
    <div id="root"></div>
</body>
</html>